/*
FUNÇÕES PADRÕES START
*********************************************************************/
.clear,
.first {
  clear: both;
}
/*********************************************************************
FUNÇÕES PADRÕES END
*/
/*
NON-RESPONSIVE START
**********************************************************************************************/
/* ALTERAR APENAS ESTAS VARIAVEIS DE ACORDO COM O PROJETO START */
.container {
  max-width: none !important;
  width: 960px;
}
.navbar-nav > li > a {
  padding-top: 35px;
  padding-bottom: 35px;
}
/* ALTERAR APENAS ESTAS VARIAVEIS DE ACORDO COM O PROJETO END */
/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}
/* Non-responsive overrides** Utilitze the following CSS to disable the responsive-ness of the container,* grid system, and navbar.*/
/* Reset the container */
/* Always float the navbar header */
.navbar-header {
  float: left;
}
/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}
.navbar-brand {
  margin-left: -15px;
}
/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}
/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #47a741 !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
/**********************************************************************************************
NON-RESPONSIVE END
*/
::selection {
  background-color: #47a741;
  color: #FFF;
}
::-moz-selection {
  background-color: #47a741;
  color: #FFF;
}
small {
  display: inline-block;
  line-height: 1.1;
}
textarea {
  resize: vertical;
}
a,
button {
  transition: all 0.25s ease 0s;
}
/*
FONTS START
**********************************************************************************************/
.box-passo .media-heading strong,
.box-home .chamada-4 .media-heading strong,
.btn,
.box-home .media-heading {
  font-family: 'DINPro-Bold', Arial, sans-serif;
  font-weight: normal;
}
.site-header .navbar-nav,
.phone-content {
  font-family: 'DINPro-Black', Arial, sans-serif;
  font-weight: normal;
}
.box-passo .media-heading,
.box-home .chamada-4 .media-heading,
.box-home .phone,
.phone-header {
  font-family: 'DINPro-Light', Arial, sans-serif;
  font-weight: normal;
}
/**********************************************************************************************
FONTS END
*/
/*
ESTRUTURA START
**********************************************************************************************/
.extra-header,
.extra-central,
.extra-footer {
  min-width: 960px;
}
.extra-header {
  background: url(../imagem/site/bg-header.png) no-repeat center top;
}
.extra-header .navbar {
  border: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.extra-header .navbar-header {
  width: 290px;
}
.extra-header .navbar-header .navbar-brand {
  padding: 19px 15px;
}
.extra-header .navbar-nav {
  font-size: 16px;
  text-transform: uppercase;
}
.extra-header .navbar-nav > li {
  position: relative;
  z-index: 2;
}
.extra-header .navbar-nav > li a {
  padding: 0;
}
.extra-header .navbar-nav > li a span {
  display: block;
}
.extra-header .navbar-nav > li a > span {
  padding: 38px 10px;
}
.extra-header .navbar-nav > li a > span > span {
  padding: 5px 0;
}
.extra-header .navbar-nav > li:first-child {
  margin-left: 44px;
}
.extra-header .navbar-nav > li.active {
  background: url(../imagem/site/bg-menu-item-left-active.png) no-repeat left top;
  padding-left: 125px;
  margin: 0 -40px 0 -50px;
  z-index: 1;
}
.extra-header .navbar-nav > li.active a {
  background: url(../imagem/site/bg-menu-item-right-active.png) no-repeat right top;
  padding-right: 121px;
}
.extra-header .navbar-nav > li.active a > span {
  background: url(../imagem/site/bg-menu-item-active.png) repeat-x top;
  padding-left: 0;
  padding-right: 0;
}
.extra-header .navbar-nav > li.active a > span > span {
  border-bottom: 3px solid #87A0A3;
}
.extra-footer .site-footer .line-1 {
  background: #57585A;
}
.extra-footer .site-footer .line-1,
.extra-footer .site-footer .line-1 a {
  color: #dddddd;
}
.extra-footer .site-footer .line-2 {
  background: #EEEEEE;
  color: #858585;
  padding: 20px 0;
  font-size: 15px;
}
.extra-footer .menu-footer {
  text-transform: uppercase;
}
.extra-footer .menu-footer > li {
  float: left;
}
.extra-footer .menu-footer > li a {
  display: block;
  padding: 15px 2px;
}
.extra-footer .menu-footer > li.active a {
  border-bottom: 5px solid #47a741;
}
.extra-footer .menu-footer > li + li {
  margin-left: 30px;
}
.extra-footer .footer-header {
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}
.extra-footer .footer-phone {
  border: 3px solid #A2A2A2;
  display: inline-block;
  padding: 6px 15px;
  margin: 0 0 15px;
}
.extra-footer .footer-phone * {
  line-height: 1;
  vertical-align: middle;
}
.extra-footer .footer-phone .phone-header {
  font-size: 18px;
  text-transform: uppercase;
  color: #464637;
}
.extra-footer .footer-phone .phone-content {
  font-size: 22px;
  color: #c3141b;
}
.extra-footer .footer-phone .inline-block + .inline-block {
  margin-left: 10px;
}
.extra-footer .col-c {
  background: url(../imagem/site/dotted-v.gif) repeat-y left top;
}
.extra-footer small {
  font-size: 10px;
  line-height: 1.4;
}
.extra-footer [class^='ycon'],
.extra-footer [class*='ycon'],
.extra-footer .inline-block {
  vertical-align: middle;
}
.extra-footer .social-footer {
  padding-top: 15px;
}
.extra-footer .social-footer a + a {
  margin-left: 15px;
}
.home .extra-geral {
  background: url(../imagem/site/bg-home.jpg) no-repeat center top;
}
/**********************************************************************************************
ESTRUTURA END
*/
/*
CLASSES START
**********************************************************************************************/
[class^='lista-'],
[class^='lista-'],
[class^='menu-'],
[class^='menu-'] ul,
.cycle-slideshow {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.btn {
  font-size: 13px;
  text-transform: uppercase;
  padding: 10px 12px;
}
.btn-icon {
  padding-left: 50px;
  position: relative;
  border: 0;
  overflow: hidden;
}
.btn-icon .icon {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  text-align: center;
}
.btn-icon .icon [class^='ycon-'],
.btn-icon .icon [class*='ycon-'] {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 50%;
  margin-left: -5px;
}
.btn-icon.btn-primary .icon {
  background: #398534;
}
.btn-icon.btn-default {
  background-color: #FFF;
  color: #47a741;
}
.btn-icon.btn-default:hover {
  background-color: #F0F0E1;
}
.btn-icon.btn-default .icon {
  background: #F0F0E1;
}
.btn-lg {
  font-size: 22px;
  padding: 16px 24px;
}
.btn-gray {
  background: #EEE;
  color: #C93F2A;
}
.btn-rounded {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.box-home {
  height: 670px;
  color: #FFF;
  position: relative;
  font-size: 15px;
  margin: 0 0 30px;
}
.box-home .selo {
  position: absolute;
  left: 40px;
  top: 32px;
}
.box-home .chamada-1 {
  width: 276px;
  position: absolute;
  right: 0;
  top: 115px;
}
.box-home .chamada-1 .media-heading {
  font-size: 50px;
  letter-spacing: -1px;
}
.box-home .chamada-2 {
  width: 210px;
  position: absolute;
  top: 400px;
  left: 0;
}
.box-home .chamada-2 .media-heading {
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: -1px;
}
.box-home .chamada-3 {
  position: absolute;
  right: 0;
  top: 436px;
  width: 260px;
}
.box-home .chamada-3 * {
  line-height: .8;
}
.box-home .chamada-3 .media > .pull-left {
  padding-top: 16px;
}
.box-home .chamada-3 .media-heading {
  font-size: 22px;
  padding-top: 10px;
}
.box-home .chamada-3 .phone {
  color: #FFFF26;
  font-size: 34px;
}
.box-home .chamada-4 {
  position: absolute;
  right: 0;
  top: 568px;
  width: 156px;
}
.box-home .chamada-4 .media-heading {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1;
}
.box-home .chamada-4 .media-heading a {
  color: #666666;
}
.box-home .chamada-4 .media-heading strong {
  display: block;
  font-size: 36px;
}
.box-passo {
  margin: 0 0 80px;
  text-align: center;
  width: 100%;
}
.box-passo .media-heading {
  color: #666666;
  text-align: left;
  margin: 0 0 30px;
}
.box-passo .passos {
  margin: 0 0 30px;
}
.box-passo .passo,
.box-passo .arrow {
  display: inline-block;
  vertical-align: top;
}
.box-passo .content {
  font-size: 15px;
  line-height: 1.2;
}
.box-passo .passo {
  width: 16%;
}
.box-passo .passo.lg {
  width: 20%;
}
.box-passo .arrow {
  width: 7%;
  padding-top: 40px;
}
.cycle-nav span {
  display: inline-block;
  cursor: pointer;
}
.form-control {
  box-shadow: none;
}
.imagem {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
}
.imagem-rounded {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.inline-block {
  display: inline-block;
}
[class^='ycon-'],
[class*='ycon-'] {
  background-repeat: no-repeat;
  vertical-align: middle;
  display: inline-block;
  background-image: url(../imagem/site/ycon.png);
}
.space {
  width: 1%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.relative {
  position: relative;
}
/**********************************************************************************************
CLASSES END
*/
/*
JQUERY UI START
**********************************************************************************************/
/**********************************************************************************************
JQUERY UI END
*/
@media (max-width: 767px) {
  /*    .site-geral:before {content:"TABLET";}*/
}
@media (max-width: 480px) {
  /*#GERAL:before {content:"MOBILE";}*/
}
@media (min-width: 981px) and (max-width: 1200px) {
  /*#GERAL:before {content:"ACIMA DE TABLET";}*/
}
